ul #intro {
    background-color: #ffffe3;
    text-decoration: underline;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    padding-left: 20px;
    color: #4a4a4a;
    text-align: center;
}

p, ol {
    font-size: 23px;
    padding-left: 80px;
    width: 90%;
    text-align: justify;
}

b {
    color: #192b3f;
}

a.references {
    text-decoration: none;
    font-family: courier;
    color: #035e3c;
    font-weight: bold;
    border: 1px solid #035e3c;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

ol {
    padding-left: 120px;
}

